aiokatcp
async-timeout
backports-abc             # via tornado
certifi                   # via tornado
decorator                 # via aiokatcp
fakeredis                 # via katsdptelstate
future                    # via katpoint
ipaddress                 # via katsdptelstate
msgpack                   # via katsdptelstate
netifaces                 # via katsdptelstate
numpy
pyephem                   # via katpoint
redis                     # via katsdptelstate
six                       # via singledispatch, fakeredis

katpoint @ git+https://git@github.com/ska-sa/katpoint
katsdptelstate @ git+https://git@github.com/ska-sa/katsdptelstate
