aiokatcp
async-timeout
backports-abc             # via tornado
certifi                   # via tornado
numpy
pyephem                   # via katpoint
six                       # via singledispatch
git+ssh://git@github.com/ska-sa/katpoint#egg=katpoint
