backports-abc
backports.ssl-match-hostname
certifi
Cython
decorator
docker-py==0.7.0
faulthandler==2.4
futures
funcsigs
h5py
linecache2
mock
netifaces
nose
numpy
pbr
ply
ProxyTypes
pyephem
redis
requests==2.8.1
singledispatch
six
spead==0.5.1
tornado
traceback2
unittest2
websocket-client==0.34.0
ipython==4.0.3
pickleshare==0.6
pexpect==4.0.1
simplegeneric==0.8.1
traitlets==4.1.0
path.py==8.1.2
ptyprocess==0.5
ipython-genutils==0.1.0
git+ssh://git@github.com/ska-sa/katcp-python
git+ssh://git@github.com/ska-sa/katpoint
git+ssh://git@github.com/ska-sa/katdal
git+ssh://git@github.com/ska-sa/katsdptelstate
